@import "../typography";
@import "../colors";

.performance-test-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 32px);
  background-color: #ffffff;
  border: 0px;
  padding: 16px 12px;
  overflow: hidden;
}

.performance-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0; 
  margin-bottom: 24px;
}

.performance-title {
  @include font-style("title1");
}

.test-button {
  display: flex;
  align-items: center;
  @include bg-color("primary600");
  @include text-color("white");
  @include font-style("body2");
  padding: 12px 20px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;

  svg {
    margin-right: 6px;
  }

  &:hover {
    @include bg-color("primary700");
  }
}

.performance-result-list {
  flex: 1 1 auto; 
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-right: 4px;

  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 3px;
  }
}


// 퍼포먼스 카드 스타일
.performance-card {
    background: #f9f9f9;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    @include font-style("body1");
}
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  .badges-left {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .badges-right {
    @include text-color("gray-800");
    @include font-style("body1");
    .type-badge-spec {
      background-color: #74f3f5;
      padding: 6px 12px;
      border-radius: 6px;
      text-transform: uppercase;
    }

    .type-badge-traffic {
      background-color: #92fc9b;
      padding: 6px 12px;
      border-radius: 6px;
      text-transform: uppercase;
    }
  }
  
  
  .control-icons {
    display: flex;
    gap: 10px;
  }
  
  .performance-icon {
    color: #666;
    cursor: pointer;
    transition: color 0.2s;
  }
  
  .performance-icon:hover {
    color: #333;
  }
  
  .request-header{
    display: flex;
    @include font-style("body1");
    @include text-color("gray-600");
    align-items: center;
    margin-bottom: 8px;
  }
  .request-url {
    margin-left: 2px;
    display: flex;
    align-items: center;

    @include font-style("body1");
    @include text-color("gray-600");
    text-decoration: underline;

  }
  .response-meta {
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    flex-direction: row;
  
    .meta-row {
      display: flex;
      gap: 16px;
      flex-wrap: wrap;
      align-items: center;
      flex-direction: column;
    }
    .meta-group {
      display: flex;
      gap: 8px;
      flex-direction: column;
    }
  
    .meta-card {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 12px 16px;
      background-color: #f9fafb;
      border: 1px solid #e5e7eb;
      border-radius: 8px;
      min-width: 240px;
  
      svg {
        color: #6b7280;
      }
  
      span {
        @include font-style("body2");
        @include text-color("gray-600");
        flex: 1;
      }
  
      strong {
        font-weight: 600;
        color: #111827;
        @include font-style("body2");
      }
    }
  }