@import "../typography";
@import "../colors";

.server-management-container {
  background-color: #ffffff;
  border: 0px;
  padding: 16px 12px;
}

.server-management-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.server-management-title {
  @include font-style("title1");
}

.add-server-button {
  display: flex;
  align-items: center;
  @include bg-color("primary600");
  @include text-color("white");
  @include font-style("body2");
  padding: 12px 20px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;

  svg {
    margin-right: 6px;
  }

  &:hover {
    @include bg-color("primary700");
  }
}

.server-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.server-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F9F9F9;
    padding: 20px;
    border-radius: 12px;
  }
  
  .server-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
  
    .server-info-header {
      display: flex;
      align-items: center;
      gap: 16px;
  
      .server-name {
        @include font-style("title2");
        @include text-color("text-main");
      }
  
      .server-status {
        @include font-style("body2");
        @include text-color("text-sub1");
        padding: 6px 12px;
        font-weight: bold;
        border-radius: 12px;
  
        &.status-connected {
          background-color: #D6FFDF;
          color: #00b82b;
          font-weight: bold;
        }
  
        &.status-disconnected {
          background-color: #d9d9d9;
          color: #666666;
        }
      }
    }
  
    .server-url {
        @include font-style("body2");
        @include text-color("text-sub1");
    }   
  }
  
  .server-controls {
    display: flex;
    align-items:flex-start;
    gap: 12px;
  
    .server-icon {
      cursor: pointer;
      color: #bebaba;
  
      &:hover {
        color: #666666;
      }
    }
  }