.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 1000;
}

.modal {
  background: white;
  border-radius: 16px;
  padding: 28px;
  width: 480px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1001;
  position: relative;
}
.modal h2 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: -2.5%;
  color: #111111;
  margin-bottom: 8px;
}
.modal label {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -2.5%;
  color: #666666;
  font-weight: 600;
  margin-left: 2px;
}
.modal input,
.modal select {
  padding: 10px 12px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
  color: #111111;
}
.modal input::-moz-placeholder, .modal select::-moz-placeholder {
  color: #bbb;
  font-style: normal;
}
.modal input::placeholder,
.modal select::placeholder {
  color: #bbb;
  font-style: normal;
}
.modal input:focus,
.modal select:focus {
  border-color: #111111;
  outline: none;
}

.modal-input-row {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}
.modal-input-row .modal-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 12px;
}
.modal-actions button {
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  border: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -2.5%;
}
.modal-actions button:first-of-type {
  background: white;
  border: 1px solid #ccc;
  color: #333;
}
.modal-actions button:last-of-type {
  background: #3b82f6;
  color: white;
}
.modal-actions button:last-of-type:hover {
  background: #2563eb;
}
.modal-actions button:last-of-type:disabled {
  background: #cbd5e1;
  cursor: not-allowed;
}

/* AddServerModal.css */

.modal-add-button {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: #3b82f6; /* 파란색 */
  color: white;
  gap: 10px;
}

.modal-update-button {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: white; 
  color: black;
  gap: 10px;
  border: 1px solid #D9D9D9;
}

.modal-delete-button {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: red; /* 파란색 */
  color: white;
  gap: 10px;
}
