.api-spec-card {
  display: grid;
  grid-template-columns: 64px 160px 1fr 80px 80px 100px 60px;
  align-items: center;
  gap: 52px;
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 12px 20px;
  font-family: "Pretendard", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -2.5%;
}
.api-spec-card .badge {
  width: -moz-fit-content;
  width: fit-content;
}
.api-spec-card .name {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -2.5%;
  color: #111111;
}
.api-spec-card .endpoint {
  color: #666;
}
.api-spec-card .tag {
  padding: 4px 8px;
  text-align: center;
}
.api-spec-card .status {
  display: flex;
  align-items: center;
  gap: 8px;
}
.api-spec-card .status .dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: #00EB37;
}
.api-spec-card .status .dot.connected {
  background-color: #00EB37;
}
.api-spec-card .status .dot.disconnected {
  background-color: #666666;
}
.api-spec-card .date {
  font-size: 13px;
  color: #999;
}
.api-spec-card .actions {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: #333;
  cursor: pointer;
}
.api-spec-card .actions svg {
  opacity: 0.7;
  transition: 0.2s;
}
.api-spec-card .actions svg:hover {
  opacity: 1;
}