.login-page {
  min-height: 100vh;
  width: 100%;
  background-color: #ECF1FF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-page .login-card {
  background-color: white;
  width: 100%;
  max-width: 400px;
  padding: 40px 60px 24px 60px;
  border-radius: 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}
.login-page .login-card .login-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.login-page .login-card .login-header .signin-text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: -2.5%;
  color: #000;
  margin: 0;
}
.login-page .login-card .login-header .logo-title {
  display: flex;
  align-items: center;
  gap: 6px;
}
.login-page .login-card .login-header .logo-title .login-logo {
  width: 40px;
  height: 40px;
}
.login-page .login-card .login-header .logo-title .highlight {
  color: #65418B;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: -2.5%;
}
.login-page .login-card form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login-page .login-card form .login-remember {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -2.5%;
  color: #111111;
  margin-top: 8px;
}
.login-page .login-card form .login-remember input[type=checkbox] {
  width: 16px;
  height: 16px;
  accent-color: #3b82f6;
  cursor: pointer;
}
.login-page .login-card form .login-remember label {
  cursor: pointer;
  padding-top: 2px;
}
.login-page .login-card form .label {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -2.5%;
}
.login-page .login-card form .btn-login {
  width: 100%;
  margin: 4px 0 24px 0;
  background-color: #3F7FFF;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: -2.5%;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.login-page .login-card form .btn-login:hover {
  background-color: #2563eb;
}
.login-page .login-card form .btn-login:active {
  background-color: #1e40af;
}
.login-page .login-card form .btn-login:disabled {
  background-color: #93c5fd;
  cursor: not-allowed;
}
.login-page .login-card .login-links {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  font-size: 0.85rem;
  color: #666;
  gap: 60px;
}
.login-page .login-card .login-links a {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -2.5%;
  color: #111111;
  text-decoration: none;
}
.login-page .login-card .login-links a:hover {
  text-decoration: underline;
}
.login-page .login-card .login-register {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -2.5%;
  color: #666666;
  margin-top: 12px;
}
.login-page .login-card .login-register a {
  color: #3F7FFF;
  font-weight: 600;
  text-decoration: none;
}
.login-page .login-card .login-register a:hover {
  text-decoration: underline;
}