@charset "UTF-8";
.button {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -2.5%;
  color: #666666;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-radius: 16px;
  text-align: left;
  background: #F9F9F9;
  border: none;
  gap: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/* hover 효과 */
.button:hover:not(.active) {
  background-color: #f4f4f4;
}

.active {
  background-color: #3F7FFF;
  color: #FFFFFF;
  font-weight: 600;
}