@charset "UTF-8";
.side-bar {
  width: 250px;
  background-color: #FFFFFF;
  padding: 16px 16px 0 16px !important;
  border-radius: 12px; /* 모서리 둥글게 */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05); /* 부드러운 그림자 */
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 28px;
  height: 100%;
  overflow: auto;
  background-color: #FFFFFF;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.side-bar::-webkit-scrollbar {
  display: none;
}
.side-bar .header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-bottom: 16px;
  color: #65418B;
  font-size: 32px;
  line-height: 42px;
  font-weight: 600;
  letter-spacing: -2.5%;
}
.side-bar .nav-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.side-bar .nav-buttons .nav-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  color: #999;
  transition: fill 0.2s;
}
.side-bar .nav-buttons .nav-icon.active {
  color: #000000;
}
.side-bar .connected-server-header {
  color: #666666;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -2.5%;
  margin: 20px 0 0 8px;
}
.side-bar .server-buttons {
  gap: 8px;
  display: flex;
  flex-direction: column;
}
.side-bar .github-container {
  margin: 20px 0 0 8px;
}
.side-bar .sidebar-footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  border-top: 1px solid #E0E0E0;
  position: sticky;
  bottom: 0;
  background-color: #FFFFFF;
  color: #666666;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -2.5%;
}